@tailwind base;
@tailwind components;
@tailwind utilities;




body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#__next {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


/* Optional: Custom scrollbar styling */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Mansory Regular */
@font-face {
  font-family: 'Mansory';
  src: url('/fonts/Mansory.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

/* Mansory Bold */
@font-face {
  font-family: 'Mansory';
  src: url('/fonts/MansoryBold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

/* Mansory Bold Oblique */
@font-face {
  font-family: 'Mansory';
  src: url('/fonts/MansoryBoldOblique.otf') format('opentype');
  font-weight: bold;
  font-style: oblique;
}

/* Mansory Medium */
@font-face {
  font-family: 'MansoryBold';
  src: url('/fonts/MansoryMedium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

/* Mansory Medium Oblique */
@font-face {
  font-family: 'Mansory';
  src: url('/fonts/MansoryMediumOblique.otf') format('opentype');
  font-weight: 500;
  font-style: oblique;
}

/* Mansory Oblique */
@font-face {
  font-family: 'Mansory';
  src: url('/fonts/MansoryOblique.otf') format('opentype');
  font-weight: normal;
  font-style: oblique;
}

/* Mansory Semi Bold */
@font-face {
  font-family: 'Mansory';
  src: url('/fonts/MansorySemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

/* Mansory Semi Bold Oblique */
@font-face {
  font-family: 'Mansory';
  src: url('/fonts/MansorySemiBoldOblique.otf') format('opentype');
  font-weight: 600;
  font-style: oblique;
}


/* Custom CSS to hide scrollbar */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;  /* Chrome, Safari, and Opera */
}
.custom-button {
  color: white;
  background-color: transparent;
  border: 2px solid #D1D5DB; /* gray-300 */
  padding: 6px 24px; /* py-2 px-6 */
  border-radius: 6px; /* rounded-md */
  font-size: 14px; /* text-sm */
  transition: all 0.5s ease; /* transition-all duration-500 */
}

.custom-button:hover {
  color: black; /* hover:text-black */
  background-color: white; /* hover:bg-white */
  background-color: rgba(255, 255, 255, 0.9); /* hover:bg-opacity-90 */
}


.custom-cursor {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  position: fixed;
  pointer-events: none;
  z-index: 9999;
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.35);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  transform: translate(0%, 50%); /* Center the cursor */
  transition: transform 0.1s ease-out;
}

.cursor-none {
  cursor: none;
}

