.swiper-container {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  --uacf7-global-color-primary: #382673;
  --uacf7-global-text-color-secondary: #383c41;
  --uacf7-global-placeholder-color: #606266;
  --uacf7-global-border-color: #e4e9f8;
  --uacf7-global-button-color: var(--uacf7-global-color-primary);
  --uacf7-border-radius: 5px;
  --uacf7-white-color: #fff;
  --swiper-theme-color: #007aff;
  color: #003b5c;
  font-style: normal;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: max(16px, min(16px, .8333333333vw));
  line-height: 150%;
  box-sizing: border-box;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 4px;
  padding-left: 4px;
  max-width: calc(100% - 24px);
  position: relative;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--uacf7-border-radius);
  background-color: var(--uacf7-white-color);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
}

.swiper-button-prev,
.swiper-button-next {
  color: var(--uacf7-global-color-primary);
  font-size: 24px;
}

.swiper-button-prev svg,
.swiper-button-next svg {
  width: 24px;
  height: 24px;
}

.swiper-pagination-bullet {
  background-color: var(--uacf7-global-text-color-secondary);
}

.swiper-pagination-bullet-active {
  background-color: var(--uacf7-global-color-primary);
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: var(--uacf7-border-radius);
  overflow: hidden;
  background-color: var(--uacf7-white-color);
}

.card__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16px;
}

.card__media img {
  border-radius: var(--uacf7-border-radius);
  width: 100%;
  height: auto;
  object-fit: cover;
}

.card__main {
  padding-top: 10px;
}

.card__main h5 {
  color: var(--uacf7-global-color-primary);
  font-weight: 600;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .swiper-container {
      padding-right: 8px;
      padding-left: 8px;
  }

  .swiper-slide {
      padding: 20px;
  }

  .card__media img {
      width: 100%;
  }
}
